$text-gray: #808291;
$text-white: #f8f9fa;
$text-light: #f6f6f6;
$text-dark: #1a3260;
$text-dark2: #1a3760d4;
$text-red: #ff4d6d;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$bg-blue: rgb(249, 243, 255);
$bg-red: rgb(254, 247, 252);
$bg-yellow: rgb(255, 255, 246);
$bg-purple: rgb(246, 255, 255);
$bg-gradient: linear-gradient(to right, #ff512f, #dd2476);
$bg-gradient-indigo: linear-gradient(to right, #8e2de2, #4a00e0);
$bg-gradient-peach: linear-gradient(to right, #fff7f3, #fff7f3);
