* {
  margin: nth($spacing, 1);
  padding: nth($spacing, 1);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// Start Global classes
.text-gray {
  color: $text-gray;
}
.text-white {
  color: $text-white;
}
.text-light {
  color: $text-light;
}
.text-dark {
  color: $text-dark;
}
.text-dark2 {
  color: $text-dark2;
}
.text-red {
  color: $text-red;
}
.link {
  color: $text-dark2;
  font-weight: bold;

  &:hover {
    color: $text-red;
  }
}
.bg-blue {
  background: $bg-blue;
}
.bg-red {
  background: $bg-red;
}
.bg-yellow {
  background: $bg-yellow;
}
.bg-purple {
  background-color: $bg-purple;
}
.bg-gradient {
  background: $bg-gradient;
}
.bg-gradient-indigo {
  background: $bg-gradient-indigo;
}
.bg-gradient-peach {
  background: $bg-gradient-peach;
}

//Text style classes
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 1em;
  line-height: 1.5em;
}
.text-md {
  font-size: 1.5em;
}
.text-lg {
  font-size: 2.2em;
  line-height: 3rem;
}
.text-xl {
  font-size: 3em;
}
.text-2xl {
  font-size: 5em;
}
.font-bold {
  font-weight: bold;
}
.text-uppercase {
  text-transform: uppercase;
}
// Button classes
.btn {
  border: none;
  color: transparent;
  cursor: pointer;
}
.btn-primary {
  padding: 8rem 2rem;
  border-radius: 50px;
  font-family: nth($font-family, 1);

  &:hover {
    background: $bg-gradient-indigo;
  }
}
.btn-shadow {
  box-shadow: $box-shadow;
}
// Display classes
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-grow {
  flex-grow: 1;
}
.justify-content {
  justify-content: center;
}
.d-inline {
  display: initial;
}
.d-block {
  display: block;
}
.grid {
  display: grid;
}
.cols {
  grid-template-columns: repeat(1, minmax(0 1fr));
}
// Spacing classes
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.container {
  width: 100%;
}
.container-fluid {
  width: 98%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-10 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-10 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
// images classes
.bg-cover {
  background: $bg-cover;
  object-fit: fill;
}
// End Global classes
